@mixin rounded {
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}

@mixin shadow {
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.8);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.8);
}
